<div class="well">
  <h3>Buy Services</h3>
  <hr>
  <h4 class="text-info">Services</h4>
  <p>With Our Services you can solve any CAPTCHA. All you need to do is implement our API, pass us your CAPTCHAs and we’ll return the text. It’s that easy!</p>
  <p>Please note that our services should be used only for research projects and any illegal use of our services is strictly prohibited.</p>
  <hr>
  <div class="row text-center" style="display:block">

    <div class="col-md-6 col-sm-6 hero-feature">
      <div class="thumbnail">
        <div class="caption">
          <h4>Services</h4>
          <p>Image Resolve Services.</p>
          <p>
            <a href="#" class="btn btn-info btn-xs">More Info</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature">
      <div class="thumbnail">
        <div class="caption">
          <h4>Supported Clients</h4>
          <p>Supported Client Apis</p>
          <p>
            <a href="#" class="btn btn-info btn-xs">More Info</a>
          </p>
        </div>
      </div>
    </div>



  </div>
  <hr>
  <h4 class="text-info">Updates</h4>
  <dl>
    <dt>April, 2015</dt>
    <dd>Our services upgrading for high performance.</dd>
  </dl>

</div>