<% if not form.messages(:register).empty? %>
    <div class="alert alert-warning alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% form.messages(:register).each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>

    </div>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-2">
        <img class="profile-image" src="http://placehold.it/100x100" alt=""/>
    </div>

    <div class="col-lg-10">
      <h2 class="text-info"><%= "#{@user.namesurname}"%></h2>
      <p class="text-warning"><%= @user.email %></p>
      <p class="text-warning">Account Type: <span class="text-info"><%= @user.account_type.downcase %></span></p>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Link 1</button>
        <button type="button" class="btn btn-default">Link 2</button>
          <% if env['warden'].user == @user %>

            <button type="button" class="btn btn-default">Profile Edit</button>
            <button type="button" class="btn btn-default">Remove Account</button>
          <% end %>


      </div>
    </div><hr>
    <div class="col-lg-12">
      Blah Blah Blah
    </div>
  </div>
</div>



